.heading-nav-bar {
    border-bottom: 1px solid #f3f3f4;

    padding: 8px 0;
    min-height: 56px;
}

.heading-nav-bar .heading-nav-bar-search-form {
    width: 15%;

    margin-left: 1%;
}

.heading-nav-bar .navbar-right {
    margin-right: 15px;
}

.heading-nav-bar .navbar-right li {
    float: left;

    margin-left: 6px;
}

.heading-nav-bar .navbar-right .label {
    position: absolute;
    right: -5px;
    top: -5px;
}