{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block h1 %}
    Typography
{% endblock h1 %}

{% block content %}
    <div class='row'>
        <div class='col-md-6'>
            <div class='panel'>
                <div class='panel-heading'>
                    <h2>Headings</h2>
                </div>

                <div class='panel-body'>
                    Define heading using next tags:
                    <code>&lt;h1/&gt;</code>, 
                    <code>&lt;h2/&gt;</code>, 
                    <code>&lt;h3/&gt;</code>, 
                    <code>&lt;h4/&gt;</code>, 
                    <code>&lt;h5/&gt;</code>, 
                    <code>&lt;h6/&gt;</code>
                    <hr />
                    <h6>
                        <code>&lt;h6&gt;</code>&nbsp;
                        <strong>Strong Heading</strong>
                        Normal Heading
                        <small>Small Heading</small>
                    </h6>
                    <h5>
                        <code>&lt;h5&gt;</code>&nbsp;
                        <strong>Strong Heading</strong>
                        Normal Heading
                        <small>Small Heading</small>
                    </h5>
                    <h4>
                        <code>&lt;h4&gt;</code>&nbsp;
                        <strong>Strong Heading</strong>
                        Normal Heading
                        <small>Small Heading</small>
                    </h4>
                    <h3>
                        <code>&lt;h3&gt;</code>&nbsp;
                        <strong>Strong Heading</strong>
                        Normal Heading
                        <small>Small Heading</small>
                    </h3>
                    <h2>
                        <code>&lt;h2&gt;</code>&nbsp;
                        <strong>Strong Heading</strong>
                        Normal Heading
                        <small>Small Heading</small>
                    </h2>
                    <h1>
                        <code>&lt;h1&gt;</code>&nbsp;
                        <strong>Strong Heading</strong>
                        Normal Heading
                        <small>Small Heading</small>
                    </h1>
                    <hr />
                    To define small and strong headings use <code>&lt;small&gt;</code> and <code>&lt;strong&gt;</code> tags.
                </div>
            </div>
        </div>

        <div class='col-md-6'>
            <div class='panel'>
                <div class='panel-heading'>
                    <h2>Texte styling</h2>
                </div>

                <div class='panel-body'>
                    Define text styling using next classes:
                    <code>&lt;small&gt;</code>,
                    <code>&lt;strong&gt;</code>,
                    <code>&lt;em&gt;</code>,
                    <code>&lt;code&gt;</code>
                    <code>&lt;abbr&gt;</code>
                    <code>&lt;strike&gt;</code>
                    <hr />

                    <p>Lorem ipsum dolor sit amet, <strong>consectetur adipiscing</strong> elit. Phasellus laoreet <em>sed erat non venenatis</em>. Sed non maximus turpis. Sed commodo lacus non lorem aliquam aliquam.</p>
                    <p>Suspendisse luctus elit non venenatis tristique. Donec tempus, <code>&lt;code&gt;</code> lectus vitae laoreet pretium, velit tellus tristique metus, vitae ultrices nibh erat ac odio.</p>
                    <p>Curabitur eu facilisis tellus. <abbr title='sample' data-original-title>Nulla imperdiet</abbr> ullamcorper maximus. Nullam in <strike>tempus</strike> lectus. Sed a convallis orci, non molestie enim.</p>
                </div>
            </div>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-3'>
            <div class='panel'>
                <div class='panel-heading'>
                    <h2>Text alignment</h2>
                </div>

                <div class='panel-body'>
                    Define text alignment using next classes:
                    <code>&lt;text-left&gt;</code>,
                    <code>&lt;text-center&gt;</code>,
                    <code>&lt;text-right&gt;</code>
                    <hr />
                </div>
            </div>
        </div>

    </div>
{% endblock %}