<nav class='heading-nav-bar'>
    <a class='btn btn-primary pull-left' href="#">
        <i class="fa fa-bars"></i>
    </a>

    <form class="heading-nav-bar-search-form pull-left" action="#">
        <div class="form-group">
            <input type="text" placeholder="Search..." class="form-control" name="" />
        </div>
    </form>

    <ul class='nav navbar-right'>
        <li class='dropdown'>
            <a class='btn btn-default dropdown-toggle' data-toggle='dropdown' href='#'>
                <i class="fa fa-bell"></i>
                <span class="label label-warning">16</span>
            </a>
        </li>

        <li>
            <a class='btn btn-default' href='#' title='Fullscreen'>
                <i class='fa fa-arrows-alt'></i>
            </a>
        </li>

        <li>
            <a class='btn btn-default' href='#' title='Log out'>
                <i class='fa fa-sign-out'></i>
            </a>
        </li>
    </ul>
</nav>